<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/assets/css/style.scss">			
		</head>
		<body>
			<div class="grid-container">

    				<div class="grid-navigation">
					<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="/cv">CV</a></li>
						<li><a href="/blog">Blog</a></li>
					</ul>
					</nav>

    				</div>

    			<div class="grid-body">
				<div class="container">
					{{ content }}
				</div><!-- /.container -->
    			</div>
  
		</div>
			<footer>
	    		<ul>
	        		<li><a href="mailto:hthrcox@gmail.com">email</a></li>
	        		<li><a href="https://github.com/obsidiangecko">github.com/obsidiangecko</a></li>
			</ul>
			</footer>
		</body>
	</html>
